<!DOCTYPE html>
<html lang="en">
<head>
    <style type = "text/css">

        body {
                background-image : url("/static/welcome.jpg");
                background-repeat: no-repeat;
                background-size: cover;

                 color: white;
                 text-align : center;
                 padding: 50px;
             }
     </style>

    <meta charset="UTF-8">
    <title>Review This!</title>
</head>
<body>
    <h1>You have successfully Signed Up!! Please login.</h1>
    <div><<a href="login/">Login</a> </div>

</body>
</html>