<!DOCTYPE html>
<html lang="en">
<head>
    <style type = "text/css">

        body {
                 background-image : url("/static/instaclone.jpg");
                 background-repeat: no-repeat;
                 background-size: cover;
                 color: white;
                 text-align : center;
             }
     </style>

    <meta charset="UTF-8">
    <title>InstaClone</title>
</head>
<body>
    <h1>SUCCESSFULLY SIGNED UP!!</h1>
    <div><<a href="login/">Login</a> </div>

</body>
</html>